.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: rgb(65, 26, 26);
	color: white;
	max-width: 1200px;
	margin: auto;
}

.container {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.container-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.social-midia {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 60%;
	cursor: pointer;
}

.header-msg {
	font-size: 1.5rem;
	padding-bottom: 15px;
	font-weight: 700;
}
.logo {
	height: 120px;
}

.icon {
	height: 30px;
	width: 30px;
	margin-right: 8px;
}
