:root {
	--yellow: #f3a61e;
	--purple: #853961;
}
* {
	box-sizing: border-box;
}

body {
	margin: auto;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 1300px;
	padding-bottom: 30px;
	border: 1px solid var(--yellow);
}

a {
	text-decoration: none;
}
